@charset "UTF-8";
.btn-primary {
  @apply inline-block cursor-pointer rounded bg-blue-500 px-4 py-1 font-bold text-white;
}

.btn-primary:hover {
  @apply hover:bg-blue-700;
}

.btn-primary:active {
  @apply transition scale-95 ease-in-out;
}

/* 全局css, 在多个slidev项目中共享 */
.slidev-vclick-target {
  @apply mb-[5px];
}

.col-left {
  @apply pr-[5px];
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
}
